@{
    ViewData["Title"] = "Login";
}


<h1>This is Login View</h1>
<hr />

<form action="/Home/Login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" />
    <br /><br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" />
    <br /><br />

    <button type="submit">Login</button>
</form>

<div>
    <p class="text-danger">@ViewBag.ErrorMessage</p>
</div>
